.navbar, * {
  background: #ff98b5; }

.content {
  overflow-x: hidden;
  overflow-y: scroll; }

/*project grid*/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: #ff98b5; }

.overlay-text {
  color: #6d59b5;;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

#project-grid {
  margin: 10rem 0rem; }

#project-grid-item {
  background-color: #c0b7e5;
  height: 36rem;
  width: 50%;
  padding: 0 0; }

#project-grid-item:hover .overlay {
  opacity: 0.7; }

.project-grid-item-img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

/*end of project grid*/

/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 50px solid #c0b7e5;
  border-radius: 50%;
  border-top: 50px solid #6d59b5;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-left {
  position: relative;
  -webkit-animation-name: animateleft;
  -webkit-animation-duration: 1s;
  animation-name: animateleft;
  animation-duration: 1s
}

@-webkit-keyframes animateleft {
  from { left:-100px; opacity:0 } 
  to { left:0px; opacity:1 }
}

@keyframes animateleft{ 
  from{ left:-100px; opacity:0 } 
  to{ left:0; opacity:1 }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

/*___________________________________*/